In [1]:
import pandas as pd
import numpy as np

In [2]:
words = pd.read_html('sheet.html')
words = np.array(words)
words = words.reshape(2037,7)[1:]
words = pd.DataFrame(words,columns=['index',"English","Bemba","Bemba2",4,5,6])
words = words.drop(['index',4,5,6],axis=1)
words

       English       Bemba    Bemba2
0      Abdomen       Ifumo       NaN
1        Above     Pa mulu       NaN
2       Absent      Tapali    Talipo
3        Abuse   Umusalula       NaN
4       Accept        Poka  Pokelela
...        ...         ...       ...
2031   Measure        Pima    Cipimo
2032      Meat        Nama    Munofu
2033     Medal     Nsalamu       NaN
2034  Mediator  Ndubulwila       NaN
2035  Medicine        Muti       NaN

[2036 rows x 3 columns]

In [3]:
words = words.to_csv()
with open('english_to_bemba.csv','w',encoding='utf-8') as english_to_bemba:
    english_to_bemba.write(words)